<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
 <form action = "{{ request.path }}" method = "post">
         <label for = "Sno">Sno</label><br>
         <input type = "text" name = "Sno" placeholder = "Sno" /><br>
         <label for = "Sname">Sname</label><br>
         <input type = "text" name = "Sname" placeholder = "Sname" /><br>
         <label for = "Ssex">Ssex</label><br>
         <input type = "text" name = "Ssex" placeholder = "Ssex" /><br>
         <label for = "Sage">Sage</label><br>
         <input type = "text" name = "Sage" placeholder = "Sage" /><br>
        <label for = "Sdept">Sdept</label><br>
         <input type = "text" name = "Sdept" placeholder = "Sdept" /><br>
        <label for = "Scholarship">Scholarship</label><br>
         <input type = "text" name = "Scholarship" placeholder = "Scholarship" /><br>
         <input type = "submit" value = "Submit" />
      </form>
</body>
</html>