<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "{{ request.path }}" method = "post">
         <label for = "Cno">Cno</label><br>
         <input type = "text" name = "Cno" placeholder = "Cno" /><br>
         <label for = "Cname">Cname</label><br>
         <input type = "text" name = "Cname" placeholder = "Cname" /><br>
         <label for = "Cpno">Cpno</label><br>
         <input type = "text" name = "Cpno" placeholder = "Cpno" /><br>
         <label for = "Ccredit">Ccredit</label><br>
         <input type = "text" name = "Ccredit" placeholder = "Ccredit" /><br>
         <input type = "submit" value = "Submit" />
      </form>
</body>
</html>