<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
        border-collapse:collapse;
        }
        th,td{
        border:1px solid black;
        padding:5px;
        }
    </style>
</head>
<body>
 {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
<span><a href = "/">学生信息</a></span>
 <span>**********课程信息(<a href = "/course/add">添加</a>)</span>
 <span>**********<a href="/sc_info">学生成绩管理</a></span>
 <span>**********<a href="dept/data">成绩统计</a></span>
<table>
         <thead>
            <tr>
               <th>Cno</th>
               <th>Cname</th>
               <th>Cpno</th>
               <th>Ccredit</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
         </thead>

         <tbody>
            {% for course in courses %}
               <tr>
                  <td>{{ course.Cno }}</td>
                  <td>{{ course.Cname }}</td>
                  <td>{{ course.Cpno}}</td>
                  <td>{{ course.Ccredit}}</td>
                   <td><a href="/course/update/{{course.Cno}}">修改</a></td>
                   <td><a href="/course/delete/{{course.Cno}}">删除</a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
</body>
</html>
</body>
</html>