<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "{{ request.path }}" method = "post">
    {% for sc in scs %}
         <label for = "Sno">Sno</label><br>
         <input type = "text" name = "Sno" value = "{{sc.Sno}}" /><br>
         <label for = "Cno">Cno</label><br>
         <input type = "text" name = "Cno" value = "{{sc.Cno}}" /><br>
         <label for = "Grade">Grade</label><br>
         <input type = "text" name = "Grade" value = "{{sc.Grade}}" /><br>
         <input type = "submit" value = "Submit" />
    {%endfor %}
      </form>
</body>
</html>